body {
    background-image: url(../img/yonatan-anugerah-3k0-K12TgLc-unsplash.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.content {
    text-align: center;
    padding: 22%;
}
.content1 {
    text-align: center;
    padding: 22%;
}
.box {
    padding: 0.5em;
    margin: 2em 0;
    color: blue;
    border-top: solid 5px #5d627b;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.22);
}
.box p {
    font-size: 30px;
    font-weight: 700;
    margin: 0;
    padding: 0;
}
.text1 {
    font-size: 30px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    color: blue;
}
.button {
    display       : inline-block;
    border-radius : 28%;          /* 角丸       */
    font-size     : 13pt;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 12px 12px;   /* 余白       */
    background    : rgba(102, 173, 255, 0.64);     /* 背景色     */
    color         : #ffffff;     /* 文字色     */
    line-height   : 1em;         /* 1行の高さ  */
    transition    : .3s;         /* なめらか変化 */
    box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
    border        : 2px solid rgba(102, 173, 255, 0.64);    /* 枠の指定 */
  }
  .button:hover {
    box-shadow    : none;        /* カーソル時の影消去 */
    color         : rgba(102, 173, 255, 0.64);     /* 背景色     */
    background    : #ffffff;     /* 文字色     */
  }
.content2 {
    text-align: center;
    padding: 22%;
}
#in1 {
    font-size: 20px;
    width: 100%;
    border: none;
    outline: none;
    padding-bottom: 10px;
    box-sizing: border-box;
}
.inText {
    box-sizing    : border-box;
    margin        : 0;
    vertical-align: top;
   
    width         : 100%;                /* 一旦100%幅     */
    max-width     : 350px;               /* 入力域の最大幅 */
    height        : 34px;                /* 入力域の高さ   */
    background    : #ffffff;             /* 入力域の背景色 */
    border        : 2px solid #00b3b3;   /* 入力域の枠線   */
    border-radius : 4px;                 /* 入力域の角丸   */
    padding       : 0 4px;              /* 入力文字の余白 */
    font-size     : 24px;                /* 入力文字サイズ */
    color         : #333333;             /* 入力文字の色   */
    font-weight   : bold;                /* 入力文字の太字 */
    letter-spacing: .1em;                /* 入力文字の間隔 */
  }
   /* --- 入力フィールドにフォーカスか来たら ----------------*/
  .inText:focus {
    border-color  : #999999;                 /* 枠線色     */
    background    : rgba(153, 153, 153, 0.20);  /* 背景色     */
    box-shadow    : 4px 4px 2px #999;        /* 影付け     */
    outline       : 0;
  }
   /* --- 入力説明の文字(標準) -----------------------------*/
  .inText:placeholder-shown {
    color         : #808080;                 /* 文字色     */
    font-size     : 18px;                    /* 少し小さく */
  }
   /* --- 入力説明の文字(Chrome,Safari,Android,iOS等) ---- -*/
  .inText::-webkit-input-placeholder {
    color         : #808080;                 /* 文字色     */
    font-size     : 18px;                    /* 少し小さく */
  }
   /* --- 入力説明の文字(IE用) -----------------------------*/
  .inText:-ms-input-placeholder {
    color         : #808080;                 /* 文字色     */
    font-size     : 28px;                    /* 少し小さく */
  }
   /* --- IEの入力エリア右側×消し -------------------------*/
  .inText::-ms-clear {
    display     : none;                      /* ×を消す   */
  }